html,
body {
  margin: 0;
}

html,body, #root, .App, .makeStyles-root-1,.makeStyles-content-7{
  height: -webkit-fill-available;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}
.MuiTypography-noWrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: -webkit-fill-available;
  margin-left: 21% !important;

}

.makeStyles-toolbar-5 {
  min-height: 56px;
  background-color: #043363;
}
.MuiDrawer-paperAnchorDockedLeft {
  border-right: 1px solid #043363 !important
}

.makeStyles-content-7 {
  padding: 24px;
  flex-grow: 1;
  padding-top:105px !important;
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #043363 !important;
}

.makeStyles-drawerPaper-6 {
  width: 240px;
  top: 73px !important;
  /* background-color: #043363 !important; */
}

@media only screen and (max-width: 600px) {
  .makeStyles-drawerPaper-6 {
    top: 0px !important;
  }
  .logo_div{
    height: 71px;
    /* width: 50%; */
    width: 257px;
    margin: auto;
  }
  .radio_width{
    width: 100%  !important;;
  }
  .first_width{
    width: 93% !important
  }

  .second_width{
    width: 93% !important
  }
  .full_width{
    width: 93% !important
  }

}

@media only screen and (min-width: 600px) {
  .hide_drawer{
    display: none;
  }

}

.hidden{
  display: none;
}

.hidden_app_name_div{
  width: 100%;
}


.PTAMuiAppBar-colorPrimary {
  color: #ef3838 !important;
  background-color: white !important;
}

.title{
  font-size: 2rem;
}

.MuiFormControl-fullWidth {
  width: 92% !important;
}

.radio_width{
  width: 45%;
}


.first_width{
  width: 46%
}

.second_width{
  width: 45%
}

.full_width{
  width: 30%;
}

.breadcrumbs{
  margin: 13px 0px;
}

.MuiButton-containedPrimary {
  color: #fff;
  background-color: #043363;
}

.button_div{
  margin: 50px 14px;
  padding-bottom: 50px;
}

.MuiTooltip-tooltip {
  color: #fff;
  padding: 4px 8px;
  font-size: 0.625rem;
  max-width: max-content;
  word-wrap: break-word;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 700 !important;
  line-height: 2.4em !important;
  border-radius: 21px !important;
  background-color: #043363 !important;
}

.pre {
  font-family: inherit;
  white-space: pre-line;
  text-align: center;
}
.textarea_class{
  width: 100%;
  border-radius: 21px !important;
  padding: 10px;
  border: 2px solid #043363;
  /* line-height: 2.4em !important; */
  margin: 10px 0px !important;
}
.textarea_class:focus {
  /* width: 100%;
  border-radius: 21px !important;
  padding: 10px;
  border: 2px solid #043363 !important; */
  outline: none !important;
  /* line-height: 2.4em !important; */
}

.discrete-question{
  padding: 0px 0px 10px 10px;
}

#question-heading{
  font-weight: bold !important;
  font-size: large;
  padding: 10px 0px;
}
.discrete-question{
  font-weight: bold !important;
}
.discrete-slider-always{
  font-style: italic;
  /* font-weight: 200px !important; */
  font-weight: 600;
}

::placeholder {
  font-style: italic;
  font-weight: 600;
}

.question_block_status_row{
  width: 100%;
  min-height: 50px;
  color: white;
  background-color: lightslategrey;
  display: inline-flex;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
}

.question_block_status_row_div{
  /* text-align: center; */
  padding: 1%;
}

.question_block_content{
  /* height: auto; */
  /* animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;

	animation-timing-function: linear;
	-webkit-animation-timing-function: linear; */
  margin: 0px 10px;

	/* visibility: visible !important; */
}


@keyframes slideDown {
	0% {
    transform-origin: left top;
    transform: scaleY(0);
	}
	/* 50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	} */
	100% {
    /* transition: all .1s linear; */
    transform-origin: left top;
		transform: scaleY(1);
    /* height: 100%; */
	}
}

/* @-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-10%);
	} */
	/* 50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	} */
	/* 100% {
		-webkit-transform: translateY(0%);
	} */
/* } */

.slider_button_div{
  float: right;
  margin: 10px;
}
.slider_button_next,.slider_button_previous{
  padding: 10px;
  margin: 10px;
}
.slider_button_previous{

}
#question-heading{
  width: 50%;
}

#question-heading-sample-behaviour{
    width: 50%;
    float: right;
    text-align: right;
    padding: 10px;
}

.question-heading_div{
  display: flex;
}

.main_div{
  width: 100%;
  border: black solid 2px;
  /* padding: 1px; */
}

.MuiPagination-root
{
  float: right;
  margin: 10px;
}

.MuiPaginationItem-textPrimary.Mui-selected {
  color: #fff;
  background-color: #043363 !important;
}


.ptcpi-evaluation-heading{
  font-size: 27px;
  font-weight: 900;
  text-decoration: underline;
  margin: 10px 0px;
}

.evaluation-heading{
  font-size: larger;
  font-weight: 700;
}

.evaluation-heading-content{
  font-size: medium;
  float: right;
  margin: 0px 5px;
}

.evaluation-heading-div{
  display: flex;
  margin: 5px 0px;
}
.ptcpi-evaluation-heading-main{
  margin: 10px 0px;
}


@media only screen and (max-width: 600px) {
  .question-heading_div{
    display: block !important;
  }
  #question-heading{
    width: 100% !important;
  }
  #question-heading-sample-behaviour{
    width: 100% !important;
    float: none !important;
    text-align: inherit !important;
    padding: 10px !important;
}
.question_block_content {
  /* width: 100%;
  margin: 0px !important; */
  width: 93%;
  margin: 0px 10px 0px 10px !important;
}

}